.popFont-small {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
.popFont-smaller {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.popFont-big {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 33px;
  font-style: oblique;
  text-align: center;
}
.card-title-text {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 33px;
  font-style: oblique;
}
.add-post-content {
  width: 60vw;
}
.add-post-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popFont-big-gray {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  color: #48484860;
}
.leftRightMar {
  margin: 1%3%;
}
.filter-com-box {
  padding: 5px 30px;
  border: 2px solid rgb(169 169 169/0.301);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: #484848;
}
.mainPageParent {
  position: relative;
}
.filter-lable-font {
  font-family: "poppins";
  font-size: large;
}
.filter-input-ratio {
  width: 20px;
  margin-left: 10px;
}
.filter-apply-button {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 1.5%5%;
}
.filter-head {
  font-family: "poppins";
}
.whatsInYourMind__img {
  border-radius: 50%;
  align-self: center;
}
.whatsInYourMind__card {
  width: 100%;
  max-width: 300px;
  flex: 1 1 auto;
  margin: 10px;
  box-sizing: border-box;
}
.whatsInYourMind__text {
  align-self: center;
  font-family: "Poppins", "sans-serif";
  font-weight: 600;
}
.whatsInYourMind-heading__icon-outter {
  width: 5vw;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 1s;
}
.whatsInYourMind {
  display: flex;
  overflow-x: auto;
  transition: transform 0.3s ease;
  border-bottom: 2px solid rgb(173 172 172 / 0.365);
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .whatsInYourMind__card {
    max-width: calc(50%-20px);
  }
  .whatsInYourMind-heading__icon-outter {
    width: 10vw;
  }
}
@media (max-width: 550px) {
  .whatsInYourMind__card {
    max-width: calc(100%-20px);
  }
  .popForn-big {
    font-size: 22px;
  }
  .whatsInYourMind-heading__icon-outter {
    width: 15vw;
  }
}
.outter-card {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  background-color: #f4f4f4c2;
  padding: 16px;
  box-sizing: border-box;
  margin: 0 auto;
}
.inner-card__img {
  border-radius: 3%;
  background-color: #fff;
  width: 100%;
}
.outter-card__title__span {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #303030;
  border: 2px solid #ff9900d6;
}
.outter-card__button {
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border-radius: 5px;
  width: 90px;
  padding: 3px 2px;
  transition: 0.3s;
}
.outter-card__button:hover {
  font-size: 22px;
  width: 120px;
}
.parent-card-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.signUp-h5 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 2%;
  border-bottom: 2px solid rgb(129 129 129 / 0.637);
}
.signUp-input {
  border: 2px solid rgb(152 151 151 / 0.581);
  padding: 1%;
}
.signUp-label {
  font-family: "Poppins", sans-serif;
}
.signUp-button {
  background-color: #000;
  padding: 2%4%;
  width: 100%;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: larger;
  height: 8vh;
  transition: 0.5s;
}
.signUp-button:hover {
  color: #016c13;
  font-size: 24px;
  font-weight: 800;
  width: 30%;
}
@media (max-width: 768px) {
  .outer-card {
    max-width: calc(50%-20px);
  }
}
@media (max-width: 550px) {
  .signUp-button:hover {
    color: #016c13;
    font-size: 18px;
    font-weight: 800;
    width: 30%;
  }
  .leftRightMar {
    margin: 6%3%;
  }
  .outer-card {
    max-width: calc(100%-20px);
  }
  .filter-com-box {
    padding: 5px;
    gap: 2px;
    border-radius: 10px;
    font-size: 16px;
  }
}
