.font-poppins {
  font-family: "poppins";
}
.yourOrder {
  position: fixed;
  top: 11%;
  right: 1%;
  padding: 1% 1%;
  min-height: 88vh;
  max-height: 85vh;
  transition: 0.4s;
  border-radius: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background: rgb(185 255 197 / 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgb(185 255 197 / 0.11);
}
.order-empty-text {
  text-align: center;
}
.yourOrder-line {
  border-bottom: 2px solid rgb(155 155 155 / 0.639);
  text-align: center;
}
.yourOrder::-webkit-scrollbar {
  display: none;
}
.cardOfYourOrder {
  padding: 1.5%;
  width: 25vw;
  height: 22vh;
  background-color: #fff;
  border-radius: 5%;
}

.yourOrder-cancel-icon{
  position: absolute;
  right: 0%;
  top: 0%;
  background-color: #fff;
  padding: 1%;
  border-radius: 50%;
width: 30px;
}
.cardOfYourOrder__img {
  border-radius: 50%;
}
@media (max-width: 1000px) {
  .yourOrder {
    position: fixed;
    top: 11%;
    right: 1%;
    min-height: 70vh;
    max-height: 70vh;
    width: 98vw;
  }
  .cardOfYourOrder {
    width: 95vw;
    height: auto;
  }
  .CardOfYourList__inner {
    width: 88vw;
  }
}
