button{
  cursor: pointer;
  border: none;
}
.landing-heading-text{
  font-family: 'Inter';
  font-weight: 800;
  color: #016c13;
}
.landing-sub-heading-text{
  font-family: 'Inter';
  font-weight: 400;
  color: #016c13;
}

.button__com-post{
  background: white;

  width: 90px;
  border-radius: 5px;
  padding: 2% 1%;
  color: rgb(19, 94, 2);
  font-style: oblique;
  font-weight: 600;
  font-family: 'poppins','sans-serif';
  
}
.button__com-post:hover{
  background: #016c13;
  color: #ffffff;
  }
.button__com-login:hover{
background-color: #016c13;
color: #ffffff;
}

.button__com-order:hover{
  background-color: #016c13;
  color: #ffffff;

  }
.button__com-signUp:hover{
  background-color: #016c13;
  color: #ffffff;
  }
.button__com-login{
  /* background: linear-gradient(to right, #FBD3E9, #BB377D); */
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 1%;
  width: 90px;
  background-color: #ffffff;
  color: rgb(19, 94, 2);
  font-style: oblique;
  font-weight: 600;
  transition: .2;
  font-family: 'poppins','sans-serif';
}
.button__com-order{
  width: 90px;
  border-radius: 5px;
  border: 2px solid black;
  padding: 1%;
  color: rgb(19, 94, 2);
  font-style: oblique;
  font-weight: 600;
  transition: .2;
  font-family: 'poppins','sans-serif';
}

.button__com-signUp{
  /* background: linear-gradient(to right, #FCCB90, #D57EEB); */
  /* background-color:cadetblue; */
  width: 90px;
  border-radius: 5px;
  padding: 1%;
  color: rgb(19, 94, 2);
  font-style: oblique;
  font-weight: 600;
  transition: .2;
  font-family: 'poppins','sans-serif';
}

.cur-pointer{
  cursor: pointer;
}
.b1{
  border: 2px solid red;
}
.b2{
  border: 2px solid yellow;
}
.b3{
  border: 2px solid green;
}
/* navigation */
.navigation-outter{
  border-bottom: 2px solid rgba(148, 147, 147, 0.396);
  background-color: #000000;

}
.createPost-outter{
  width: 6vw;
  /* border: 3px double ; */
  /* background: linear-gradient(to right, #2E8B57, #66CDAA); */
color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  font-family: 'poppins','sans-serif';
  transition: .2s;
  font-weight: 800;
  font-style: italic;
  
}
.createPost-outter:hover{
  
    background-color: #016c13;
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
 
    /* border: 3px double  rgb(255, 255, 255); */

    

}
.createPost-outter__circle{
  background-size: 100% 100%;
background-position: 0px 0px;
background-image: linear-gradient(90deg, #A100FFFF 0%, #71C4FFFF 100%);
width: 60px;
height: 60px;
border-radius: 50%;
cursor: pointer;

}
.createPost-outter__text{
  position: absolute;
  top: 30%;
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 0px 20px;
  font-family:'Inter', Courier, monospace;
  font-size:10px;
  cursor: pointer;
}

.logo-img{
  border-radius: 50%;
  align-self: center;
}

/* footer */

.footer__outter{
  background-color: #016c13;
  border-radius: 30px;

}
.footer-para{
  font-family:'Inter', Courier, monospace;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
.rightTop__button{
  margin-top: 5%;
  padding: 1%;
  padding-left: 15%;
  padding-right: 15%;
  align-self: center;
  align-content: center;
  border-radius: 5px;
  color:#016c13;
  background-color: aliceblue;
  font-weight: 800;
  font-family:'Inter', Courier, monospace;
}

